mat-card {
  padding: 0;
  margin: 0 auto;
  background: #C13C3C;
  color: white !important;
}

mat-card-content {
  padding: 16px;
}

mat-card-title {
  margin-top: 16px;
  display: flex;
}

.visitors {
  font-weight: 100;
}

.example-card {
  max-width: 300px;
}

.card-header {
  width: 300px;
  height: 200px;
  background-image: url('../../../assets/elbe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.layered {
  width: 45px;
}

.layer-container {
  display: -webkit-box;
  width: fit-content;
}
