@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
  background-image: radial-gradient(49% 100%, #b50203 50%, #4b0000 99%);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
